body{
    background-image: url(images/sunset.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    background-color: black;
}

}
p{
    font-size: 18px;
}
.inside a:hover,.btn:hover, h3:hover{
    -webkit-animation-name: example; 
    -webkit-animation-duration: 10s; 
    animation-name: example;
    animation-duration: 4s;
    text-decoration: none;
}

.background{
    height: 700px;
    overflow: hidden;
}
.background-img{
    max-height: 100px;
    overflow: hidden;
}
.bg-img-rs{
    display: block;
    height: -500px;
}
.inside{
    padding-bottom: 20px;
    text-align: center;
}
.inside img{
    width: 200px;
    /* position: sticky; */
    z-index: 1;
    top: 0;
}

.inside ul{
    padding: 0;
    list-style: none;
    text-align: center;
}
.inside li{
    display: inline;
    margin: 0 20px;
}
.inside li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #0B0C10;
    color: white;
    text-align: center;
    margin-top: 50px;

}
.inside-border{
    border: 3px solid rgb(71, 128, 233);
    border-radius: 6px;
    margin-right: 308px;
    margin-top: -478px; 
    margin-left: 332px;
    display: block;
}

.img-circle{
    border-radius: 25%;
}
.sub-heading{
    position: relative;
}
.nav-bar {
    position: absolute;
    z-index: 1;
    position: absolute;
    top: 690px;
    background: #0B0C10;
    padding: 13px 178px;
}
.inside img{
    width: 200px;
    z-index: 1;
    top: 0;
}
.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    text-decoration: none;
}
.nav-bar li{
    display: inline;
    margin: 0 5px;
    text-decoration: none;
}
.nav-bar a {
    padding: 2px 5px;
    text-transform: uppercase;
    background-color: aqua;



    text-decoration: none;
    list-style: none;
}
.nav-bar a:hover,h1:hover,h2:hover,h3:hover,.btn:hover,h3,h2,a{
    
    text-decoration: none;
    -webkit-animation-name: examples; 
    -webkit-animation-duration: 10s; 
    animation-name: examples;
    animation-duration: 4s;
    text-decoration: none;
}
.projecth2{
    text-align: center;
    color: black;
}
.project{
    padding: 12px 0 0;
    margin-bottom: 20px;
    background:aqua;
    color: purple;
}

.project-img img{
    width: calc(100% + 30px);
    margin-left: -6px;
    margin-bottom: 10px;
}
.project-copy{
    padding: 24px;
    position: relative;
    font-size: 14px;

}
.contact{
    background: purple;
    color: aqua;
}
.contact li{
    text-decoration: none;
    list-style: none;
    display: inline;
    text-align: center;
}
.contact a{
    padding: 2px 5px;
    text-align: center;
    padding-left: 30px;
}
.contact h3{
    text-align: center;
    
}
footer{
    display: block;
}
.foot a{
    margin-left: 170px;
}
.project a{
    border-color: aqua;
    background-color: rgb(74, 47, 104);
    color:black;
}
button{
    background-color: aqua;
    color: purple;
}
@media only screen and (max-width: 600px) {
    h1,h2,h3,p,a,.inside-border {
    position: inline;
    color: aqua;
    /* display: inline; */
        word-wrap: break-word;
        vertical-align: middle;
        
        border-width: 100%;

        word-break: normal;

    }
}
@media only screen and (min-width: 600px) {
    h1,h2,h3,p,a,.inside-border {
    position: inline;
    color: aqua;
    /* display: inline; */
        word-wrap: normal;
        vertical-align: middle;
        
        border-width: auto;

        word-break: normal;
}

@media only screen and (min-width: 768px) {
    h1,h2,h3,p,a,.inside-border {
    position: inline;
    color: #f8931f;
    /* display: inline; */
        word-wrap: break-word;
        vertical-align: middle;
        border-width: 100%;

        
        word-break: normal;
}
} 
@media only screen and (min-width: 992px) {
    h1,h2,h3,p,a,.inside-border {
    position: inline;
    color: #f8931f;
    /* display: inline; */
        word-wrap: break-word;
        vertical-align: middle;
        border-width: 100%;
        
        word-break: normal;
}
} 
@media only screen and (min-width: 1200px) {
    h1,h2,h3,p,a,.inside-border {
    position: inline;
    /* color: #f8931f; */

    /* color: rgb(74, 47, 104); */
    color: white;
    text-shadow: 0 0 85px aqua;
    /* display: inline; */
        word-wrap: break-word;
        vertical-align: middle;
        border-width: 100%;

        
        word-break: normal;
}
}
@media only screen and (max-width:400px) and (min-width: 400px) {
    h1,h2,h3,p,a,.inside-border {
    position: inline;
    color: aqua
    display: inline;
        word-wrap: break-word;
        vertical-align: middle;
        
        border-width: 100%;

        word-break: normal;

    }
}
body{
    

background-image: url(images/bgc.jpg);
    background-size:     cover;             
    background-repeat:   no-repeat;
    background-position: center center;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    background: rgb(142,16,156);
    background: -moz-linear-gradient(top, purple 32%, aqua 75%);
    background: -webkit-linear-gradient(top, rgb(16, 105, 156) 32%,rgba(133,13,73,1) 75%);
    background: linear-gradient(to bottom, rgba(142,16,156,1) 32%,rgba(133,13,73,1) 75%);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.html {
    position: relative;
    width: 50%;
    border-radius: 8px;
  }
  .html:hover .image {
    opacity: 0.3;
  }
  
  .html:hover .middle {
    opacity: 1;
  }
  

.icon-bottom{
    margin-left: 210px;
}
